<!--스타일시트와 같은 스태틱 파일을 사용하기 위한 태그-->
<!--부트스트랩(오픈소스) 프레임워크 사용하기!-->
<!--base.html 상속-->
{%extends 'base.html'%}
{%block content%}
<div class='container my-3'>
    <h2 class='border-bottom py-2'>{{question.subject}}</h2>    

    <div class='card my-3'>
        <!--카드 내부에 공백이 필요하면 card-body 사용-->
        <div class='card-body'>
            <div class='card-text' style='white-space:pre-line;'> {{question.content}} </div>
            <div class='d-flex justify-content-end'>
                <div class='badge bg-light text-dark p-2'>{{question.create_date}}</div>
            </div>
        </div>
    </div>

    <!--모델명_set으로 외래키 속성 사용-->
    <h5 class='border-bottom my-3 py-2'>{{question.answer_set.count}}개의 답변이 있습니다.</h5>
    {% for answer in question.answer_set.all %}
    <div class='card my-3'>
        <div class='card-body'>
            <div class='card-text' style='white-space: pre-light;'> {{answer.content}} </div>
            <div class='d-flex justify-content-end'>
                <div class='badge bg-light text-dark p-2'>{{answer.create_date}}</div>
            </div>  
        </div>
    </div>
    {%endfor%}

    <!--답변을 저장할 수 있는 폼-->
    <form action = '{% url 'pybo:answer_create' question.id %}' method='POST' class='my-3'>
    <!--보안에 관련된 항목으로 form으로 전송된 데이터가 실제 웹 페이지에서 작성한 데이터인지 판단-->
    <!--해커가 이상한 방법으로 데이터를 전송할 경우에는 csrf_token값이 일치하지 않기 때문에 블록킹 따라서 form태그 바로 아래에 작성-->
    {% csrf_token %}
    <div class='mb-3'>
        <label for='content' class='form-label'>답변내용</label>
        <textarea name = 'content' class='form-control' id = 'content' rows='10'></textarea>
    </div>
    <button type='submit' class='btn btn-primary'>등록</button>
    </form>
</div>
{%endblock%}