{%load static%}
<!doctype html>
<html lang='ko'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <link rel='stylesheet' type='text/css' href = "{%static 'bootstrap.min.css'%}">
        <link rel='stylesheet' type='text/css' href = "{%static 'style.css'%}">
        <title>hello!</title>
    </head>
    <body>
        <!--아래 태그는 상속한 템플릿에서 개별적으로 구현해야 하는 영역이 된다.-->
        {%block content%}
        {%endblock%}
    </body>
</html>